@*@model Entities.Entites.Product
*@
@model ProductModel
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit" autocomplete="off">
           @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPriceText" class="control-label"></label>
                <input asp-for="UnitPriceText" class="form-control" />
                <span asp-validation-for="UnitPriceText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockAmount" class="control-label"></label>
                <input asp-for="StockAmount" class="form-control" />
                <span asp-validation-for="StockAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value=""> -- Select -- </option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Guid" class="control-label"></label>
                    <input asp-for="Guid" class="form-control" />
                    <span asp-validation-for="Guid" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to Product List</a>
</div>

